@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Salsa&display=swap');

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 0;
  font-size: 40px;
}

#caixa01 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  background-color: black;
  text-align: center;
  padding: 10px;
  padding-bottom: 25px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

.nadireita {
  position: relative;
  padding-left: 20px;
  padding-bottom: 50px;
  top: 10vh;
  width: 28vh;
  line-height: 3em;
  justify-content: justify;
}

.branca {
  color: rgba(255, 255, 255, 0.767);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 15%;
  width: 30vh;
}

#fundo01 {
  background-image: url(pacote-d012/imagens/background001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding-bottom: 35em;
}

#fundo02 {
  background-image: url(pacote-d012/imagens/background002.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding-bottom: 35em;
}

h2 {
  font-family: 'Salsa', cursive;
}

article {
  position: relative;
  top: 10vh;
  text-align: center;
  background-color: black;
  color: white;
}
